@import url('normilize.css');

:root {
	--padding-base: 0.5rem;
	--orange: rgba(255, 111, 0, 1);
	--orange-darker: rgb(182, 79, 0);
	--grey: rgb(233, 230, 230);
	--grey-darker: rgb(194, 194, 194);

	/* COLORS */
	--choice-color: var(--orange);
	--choice-color-hover: var(--orange-darker);
	--choice-background: var(--grey);
	--choice-background-hover: var(--grey-darker);
}

* * {
	box-sizing: border-box;
}

body {
	background-color: black;
	margin: 0;
}

.h-100 {
	height: 100%;
}
